<div class="crd">
    <div class="img-wrapper">
        <!-- On a condition it will display the dynamic images if property.image exist (if image available) -->
        <img *ngIf="property.Image" class="propImg" src="../../../assets/images/{{property.Image}}.jpg" alt="House">

        <!-- On a condition it will display the static image if !property.Image (No Image available) -->
        <img *ngIf="!property.Image" class="propImg" src="../../../assets/images/House_default.jpg" alt="House">
        <ul *ngIf="!hideIcons" class="list-inline member-icon ">
            <li class="list-inline-item">
                <button class="btn btn-primary bg-color" routerLink="property-detail/{{property.Id}}"><i class="fa-solid fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary bg-color"><i class="fa-solid fa-phone"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <!-- <h5>{{property.Name}}</h5>
        <h6>{{property.PType}}</h6>
        <p>{{property.Price}}</p> -->

        <h2 class="mb-0">{{property.BHK}} BHK {{property.PType}}</h2>
        in {{property.Name}}
        <span *ngIf="property.Name">,</span>
        {{property.City}}

        <h6 class="mt-2">{{property.FType}}
            <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move
        </h6>

        <hr class="mb-0 mt-2">

        <h6 class="mb-0">
            Price: <span class="font-highlight">{{property.Price}} USD</span> |
            Area: <span class="font-highlight">{{property.BuiltArea}} Sq Ft</span>
        </h6>
    </div>
</div>